@import "tailwindcss";
@theme {
  --color-primary: #354C3C;
  --color-secondary: #739072;
  --color-accent: #4C9141;
  --color-supporting: #5FAF9B;
  --color-warm: #9A5435;
  --color-background: #F1F0EB;
  --color-card: #F7F7F2;
  --color-text: #555B55;
  --color-muted: #4A4F49;
  --font-sans: "Manrope", "DM Sans", sans-serif;
}